rcom.xcodeproj/project.pbxproj
rcom.xcodeproj/project.xcworkspace/contents.xcworkspacedata
rcom.xcodeproj/project.xcworkspace/xcshareddata/rcom.xccheckout
rcom.xcodeproj/project.xcworkspace/xcuserdata/pedro.xcuserdatad/UserInterfaceState.xcuserstate
rcom.xcodeproj/xcuserdata/pedro.xcuserdatad/xcschemes/rcom.xcscheme
rcom.xcodeproj/xcuserdata/pedro.xcuserdatad/xcschemes/xcschememanagement.plist
Breakpoints_v2.xcbkptlist
